.form-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.form-container .section {
    padding: 40px 3vw;
    background: #f1f1f1;
    border-radius: 12px;
    width: 1200px;
    max-width: 90vw;
    margin-bottom: 20px;
}

.form-container .password-section {
    position: sticky;
    top: 0;
    width: 100vw;
    max-width: 100vw;
    border-radius: 0;
    box-shadow: 0 10px 5px #00000033;
    padding: 15px 3vw;
    background: #f1f1f1;
    background-color: #f1f1f1;
    z-index: 15;
}

.table-responsive {
    max-height: 50vh;
    overflow-y: auto;
}
.changelogs-table {
    font-size: 0.9em;
}
.changelogs-table .actions-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.changelogs-table .actions-row button {
    margin: 0 5px;
}
.changelogs-table .actions-row form {
    margin: 0 !important;
}
.changelogs-table th:last-child {
    width: 1%;
}

.image-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.image-group .img-selection {
    position: relative;
}
.image-group .img-selection input[type="checkbox"] {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    z-index: 10;
}
.image-group img {
    width: 300px;
    margin: 10px;
}

.ellipsis {
    white-space: nowrap;
    max-width: 40vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #00000022;
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
}
.loader-wrapper--show {
    opacity: 1;
    pointer-events: all;
}
.loader {
    padding: 10px;
    background: #000000aa;
    border-radius: 4px;
}
.loader-icon {
    color: #888888;
    animation: spin 0.5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}